*{
    width: 100vw;
}
body{
    color: white;
    width: 100vw;
}
.box1{
    background-color:black;
    /* border: 1px solid red; */
    height:10vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
   /* justify-content: space-around;   */
}
.box2{
    width: 6vw;
    height:10vh;
    color:white ;
    align-items: center; 
}
.box3{
    /* border: 1px solid red; */
    height: 10vh;
    width: 34vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.box4{
    align-items: center;
    height: 10vh;
    width: 60vw;
    /* border: 1px solid red; */
    padding-left: 700px;
    padding-top: 11px;
    color: white;

   
}
.dow{
    color: black;
  width: 7vw;
    background-color: rgb(38,187,255);
    /* align-items: center; */
    text-align: center;
    border-radius: 7px;
}
.str{
    font-weight: 100px;
    font-size: 30px;
}
.box5{
    height: 15vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction:row;
    /* justify-content: space-between; */
}
.box6{
    /* padding-top: 1px; */
    /* border: 1px solid red; */
    width: 20vw;
    height: 5vh;
    background-color:rgb(32,32,32);
    /* height: 5vh; */
    color:white;
    flex-direction: row;
display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
}
.box7{
    /* border: 1px solid red; */
    width: 17vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box8{
    width: 40vw;
    height: 8vh;
    background-color: black;
    color: white;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    margin-left: 150px;
   /* . margin-top: 20px; */
    /* justify-content: space-evenly; */
    margin-top: 15px;
}
.lg{
    width: 5vw;
}
#logo1{
    height: 16px;
    width: 1vw;
    margin-top: 5px;

}
.search{
    /* padding-top: 5px; */
    /* margin-right:150px; */
    
}
footer{
    border: 1px solid red;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
#logo2{
    height: 15px;
    width: 2vw;
}
#logo3{
    height: 15px;
    width: 2vw;

}
#logo4{
    height: 15px;
    width: 2vw;

}
.logo{
    border: 1px solid red;
    height: 12vh;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* padding-right: 5px; */

}
.box9{
    align-items: end;
    margin-top:9px;
    /* margin-right:50px; */
    height:9vh;
    width: 60vw;
    border: 1px solid red;
    text-align:center;
}
.box10{
    /* margin-right: 10px; */
    width: 8vw;
    /* padding-right: 6px; */
}
.box11{
    height: 50vh;
    width: 100vw;
    border: 1px solid red;
    /* display: flex; */
    /* flex-direction:column; */
    /* justify-content: space-around; */
    
}
.box12{
    /* margin-right: 10px; */
height: 25vh;
width: 50vw;
border: 1px solid red;

}
.box13{

height: 25vh;
width: 50vw;
border: 1px solid red;

}